
body{
    background-image: url('./im7\ fondo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgba(0, 0, 0, 0.3);
    min-height: 100vh;
    margin: 0;
    font-family: cursive;
    color: white;
    line-height: 1.6;
    padding: 0 ;
   
}


.seccion-cuadricula {
    color: white;
    font-size: 1.5em;
    margin-bottom: 30px;
    border-bottom: 1px dashed ;
    padding-bottom: 10px;

}

/*estructura principal*/
.contenedor-principal{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: grid;
    grid-template-columns: 250px 1fr ;
    min-height: 100vh;
}


/*barra */
.side-menu{
    background:#2C3E50;
    overflow: hidden;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 10px 100px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    margin: 20px 20px ;
    font-weight: bold;
    
}
.side-menu::after{
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg, transparent rgba(255,255,255,0.6) transparent);
    animation: shine 2s infinite;
}
@keyframes shine{
    100%{
        left: 150%;
    }
}
.side-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;

}


.menu-item a {
    display: block;
    padding: 10px 20px ;
    text-decoration: none;
    color: white;
    border-left: 3px solid transparent;
    transition: background-color 0.2s;  
}


.presentacion-box h3{
    background-color: steelblue;
    padding: 40px 50px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0. 1);
    color: black;
}



/*contenido principal*/
.contenedor-principal{
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100vh;
   text-align: center;
   
    
}

/*escabezado dentro del contenido*/
.contenido-header{
    background-color: white;
    padding: 20px 40px;
    border-bottom: 1px solid var(--color-linea-separada);
    position: sticky;
    top: 0;
    z-index: 10;
  
}

.contenido-header2{
    color: white;
    text-align: center;
    font-size: 1.8em;
    margin: 0;
    padding: 0;
    border-bottom: 50px;
}


/*estilo de tarjetas y cuadricula*/
.productos-grid{
    display: grid;
    grid-template-columns: repeat(3,minmax(280px, 1fr));
    gap: 25px;
    margin-bottom: 50px; 
    
}


#servicios{
    display: grid ;
    flex-wrap: wrap ;
    justify-content: center ;
    align-items: flex-start ;
    gap: 30px;
}
#servicios h3{
    width: 100% ;
    text-align: center ;
    margin-bottom: 20px ;
}

#servicios .servicio-item{
    
    flex: 1 1 45% ;
    max-width: 500px ;
    box-sizing: border-box ;
    
}
#servicios .servicio-item img{
    width: 100% ;
    border-radius: 15px ;
    display: block ;
}

.diseno-card{
    background-color: rgba(0, 123, 255, 0.3);
    backdrop-filter: blur(8px);
    border-radius: 15px ;
    box-shadow: 0 0 0 1px var(--color-linea-separada);
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden ;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0. 02);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 10px;
}

.diseno-card :hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0. 1);
    transform: translateY(-3px);
    
}

.imagen-producto,.imagen-servicio,.imagen-material{
    width: 100%;
    height: 220px;
    object-fit: cover ;
    display: block;
    margin: 0 auto;
    
    overflow: hidden;
    display: block;
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px ;
    
}



.info-producto{
    padding: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

.info-producto h4{
    color: white;
    margin: 0;
    font-size: 1.1em;
}


.info-producto p{
    margin: 2px 0;
    font-size: 0.9em;
}

#horarios.diseno-card.item-pequeno{
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 25px;
    margin: 30px auto;
    max-width: 800px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-weight: bold;

}
#productos h3,
#servicios h3,
#materiales h3,
#ubicacion h3,
#contactos h3,
#inicio h3,
#cotizacion h3,
#horarios h3{
    text-align: center;
    font-size: 2em;
    margin-bottom: 25px;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
    color: white;

}

#horarios h4{
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 10px;
}
.horarios-tabla-simple{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.horarios-tabla-simple tr{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.horarios-tabla-simple tr :last-child{
    border-bottom: none;
}

#horarios-tabla-simple td{
    padding: 12px 0;
    color: #F0F0F0;
    font-size: 1.1em;
}

.horarios-tabla-simple td :first-child{
    text-align: left;
    font-weight: bold;
    color: #FFF;
}

.horarios-tabla-simple td :last-child{
    text-align: right;
}

.horarios-tabla-simple td :last-child.cerrado{
    color: #ff6b6b;
    font-weight: bold;
}

.formulario-cotizacion{
    padding: 30px;
    max-width: 800px;
    margin: 50px auto;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0. 03);
}
.formulario-cotizacion h3{
    text-align: center;
    margin-bottom: 25px;
    font-size: 2em;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.formulario-cotizacion label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: white;
}

.formulario-cotizacion input,.formulario-cotizacion textarea,.formulario-cotizacion select{
    width: 100%;
    padding:12px 10px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    color: black;
    border-radius: 10px;
    box-sizing: border-box;
    transition: border-color 0.3s ease background-color 0.3s ease;
    font-size: 17px;
    outline: none;
    font-weight: bold;
}

.formulario-cotizacion input[type="email" ]:focus,
.formulario-cotizacion input[type="tel"]:focus,
.formulario-cotizacion textarea:focus,
.formulario-cotizacion select:focus{
    border-color: rgba(255,255,255,0.8);
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
}

.formulario-cotizacion select option{
    background-color: #333;
    width: 100%;
    padding: 15px 12px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
    cursor: pointer;
    
}


.formulario-cotizacion .boton-enviar{
    background-color:black ;
    color:white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px ;
    cursor: pointer;
    width: 100%;
    cursor: pointer;
    margin-top: 15px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 0%;

}

.formulario-cotizacion textarea{
    resize: none;
    overflow: auto;
}

.formulario-cotizacion input::placeholder,.formulario-cotizacion textarea::placeholder{
    color:black;
    font-weight: bold;
}


.formulario-cotizacion .boton-enviar :hover{
    background-color: #8a4932;
}

.boton-whatsapp{
    text-align: center;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px auto;
    max-width: 400px;
}
footer{
    color: maroon;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9em;
    margin-top: 0;
}
 footer a{
    color: aqua;
    font-weight: bold;
    text-decoration: none;
}